<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header class="main-header">
        <h1>Gestão de Quizzes</h1>
    </header>

    <main class="container">
        <h1>Quizzes Cadastrados</h1>

        <p>
            <a th:href="@{/quizzes/novo}" class="action-button">➕ Novo Quiz</a>
            <a th:href="@{/questoes}" class="action-button">⚙️ Gerenciar Questões</a>
        </p>
        <br>

        <table border="0" cellpadding="5" cellspacing="0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quiz : ${quizzes}">
                <td th:text="${quiz.idQuiz}"></td>
                <td th:text="${quiz.titulo}"></td>
                <td th:text="${quiz.descricao}"></td>
                <td>
                    <a th:href="@{'/quizzes/' + ${quiz.idQuiz} + '/configurar-questoes'}" class="btn-gerenciar">Editar</a>
                    
                    <a th:href="@{'/responder-quiz/' + ${quiz.idQuiz} + '?idUsuario=1'}" class="btn-responder">Responder</a>
                    
                    <form th:action="@{'/quizzes/' + ${quiz.idQuiz} + '/remover'}"
                          method="post"
                          style="display:inline;">
                        <button type="submit" class="btn-remover">Remover</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <p><a th:href="@{/}">⬅ Voltar para a página inicial</a></p>
    </main>

    <footer>
        <p>&copy; 2025 Banda Desenhada Project</p>
    </footer>
</body>
</html>