<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banda Desenhada - Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
        <header class="main-header">
    <h1>Banda Desenhada</h1>
    <p class="header-slogan">Sua melhor plataforma de coleções e avaliações de quadrinhos.</p>
</header>

        <main class="container">
        
        <h2>Menu Principal</h2>
        
        <nav class="main-menu">
                        <ul>
                <li><a th:href="@{/quadrinhos}">Catálogo de Quadrinhos</a></li>
                <li><a th:href="@{/quizzes}">Quiz</a></li>
                <li><a th:href="@{/minha-colecao}"><span class="muted-slogan">Minha Coleção (em breve)</span></a></li>
            </ul>
        </nav>

        <section class="admin-links">
    <h2>Listas</h2>
    
    <ul>
        <li><a th:href="@{/autores}">Autores</a></li>
        <li><a th:href="@{/generos}">Gêneros</a></li>
        <li><a th:href="@{/editoras}"><br/><span class="muted-slogan">Editoras(em breve)</span></a></li>
        <li><a th:href="@{/usuarios}"><br/><span class="muted-slogan">Usuários(em breve)</span></a></li>
    </ul>
</section>

    </main>

    <footer>
        <p>&copy; 2025 Banda Desenhada Project</p>
    </footer>
</body>
</html>